* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-top: 30px;
    padding-left: 120px;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    gap: 810px;
    display: flex;
}

.nav_list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

li .nav_link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

main {
    margin-top: 89px;

}

.main {
    display: flex;
    gap: 50px;
}


.main_wrapper {
    max-width: 480px;
    height: 342px;
}

.main_text {
    width: 90px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 18px;
}

.main_title {
    width: 400px;
    margin-bottom: 27px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /* 116.667% */
    text-transform: uppercase;
    color: #000;
}

.main_text2 {
    width: 375px;
    margin-bottom: 28px;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.main_title2 {
    width: 430px;
    height: 12px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
}

.cards {
    margin-top: 34.5px;
    display: flex;
    flex-wrap: wrap;
}

.card1 {
    width: 406.656px;
    height: 481.73438px;
    padding: 25.5px 9.656px 49px 10px;
}

.card_img {
    margin-bottom: 24px;
}

.card_text {
    margin-bottom: 18px;
    // width: 93px;
    color: #999;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card_title {
    margin-bottom: 15px;
    width: 310px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 120% */
    text-transform: uppercase;
}


.card_title2 {
    color: #000;

    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}



.line {
    margin-top: 65.03px;
    margin-bottom: 89.97px;
    width: 1200px;
    border-top: 1px solid #E6E6E6;
}


.section_text {
    color: #999;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cards2 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card2 {
    width: 305px;
    padding: 0.031px 10px 48px 0px;
}

.card2_img {
    margin-bottom: 25px;
    width: 285px;
    height: 187px;
}

.card2_text {
    margin-bottom: 18px;
    color: #999;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}


.card2_title {
    margin-bottom: 15px;
    width: 246px;
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 126.316% */
    text-transform: uppercase;
}

.card2_title2 {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}


button {
    margin-top: 90px;
    margin-left: 520px;
    width: 205px;
    margin-bottom: 30px;
    height: 54px;
    border: 1px solid #000;
    background: #FFF;
}

button .a {
    width: 153px;
    color: #000;
    font-size: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}


.info {
    margin-bottom: 30px;
    width: 108px;
    color: #999;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
}

.info1 {
    padding: 10px 10px 49px 0px;
    width: 610px;
    height: 493px;
}


.info_img {
    margin-bottom: 25px;
}

.info_text {
    margin-bottom: 18px;
    color: #999;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.info_title {
    color: #000;
    font-family: Tenor Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 126.316% */
    text-transform: uppercase;
    width: 522px;
    margin-bottom: 15px;
}

.info_title2 {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}